---
// This needs to be it's own component, as we can't have <script> tags in .mdx files
---

<button id="run-code-button">Run Code</button>

<script>
  import { handleEmbedCode } from './embedCode.js';
  handleEmbedCode('init', 'run-code-button');
</script>
