
@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
    --chatbot-font-family:
        'Open Sans',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';

    --chatbot-container-bg-image: none;
    --chatbot-container-bg-color: transparent;
    --chatbot-container-font-family: 'Open Sans';

    --chatbot-button-bg-color: #0042da;
    --chatbot-button-color: #ffffff;

    --chatbot-host-bubble-bg-color: #f7f8ff;
    --chatbot-host-bubble-color: #303235;

    --chatbot-guest-bubble-bg-color: #3b81f6;
    --chatbot-guest-bubble-color: #ffffff;

    --chatbot-input-bg-color: #ffffff;
    --chatbot-input-color: #303235;
    --chatbot-input-placeholder-color: #9095a0;

    --chatbot-header-bg-color: #ffffff;
    --chatbot-header-color: #303235;

    --chatbot-border-radius: 6px;

    /* Phone input */
    --PhoneInputCountryFlag-borderColor: transparent;
    --PhoneInput-color--focus: transparent;
}

.chat-overlay {
    background-image: var(--overlay-background-image, none);
    background-color: var(--overlay-background-color, lightblue);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.chat-overlay-full {
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 0;
}

/* Overly navigation (close button) */
.overlay-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem 2rem;
    padding-right: clamp(2rem, 5vw, 5rem);
}
.overlay-nav button.close {
    color: white;
    padding: .5em 2em .5em 1em;
    position: relative;
    font-size: 1.1em;
}
.overlay-nav button.close:hover {
    background-color: rgba(255, 255, 255, 0.187);
    border-radius: .25rem;
    transition: background-color .3s ease-in-out;
}
.overlay-nav button.close:after {
    content: '×';
    position: absolute;
    top: .125em;
    right: .25em;
    width: 24px;
    height: 24px;
    font-size: 1.5em;
}
@media screen and (max-width: 40rem) {
    .overlay-nav {
        padding: .5rem 1rem;
    }
}

/* Chatbot container */
.chat-container {
    margin: 0 0 0 auto;
    padding-right: clamp(2rem, 5vw, 5rem);
    margin-left: auto;
    width: clamp(40rem, 50%, 80rem);
    height: calc(100vh - 8rem);
    z-index: 2;
}
.chat-container > div {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0;
    overflow: hidden;
    box-shadow: #593264 0 0 4rem;
    background-color: #ffffff9e;
}
@media screen and (max-width: 40rem) {
    .chat-container {
        width: 100%;
        padding: 1rem;
        height: calc(100vh - 3.5rem);
    }
}

/* Overlay footer */
.overlay-footer {
    position: fixed;
    bottom: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5em;
    color: rgb(212, 158, 228);
    font-size: .8em;
    right: clamp(2rem, 5vw, 5rem);
    left: clamp(2rem, 5vw, 5rem);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.overlay-footer a {
    color: rgb(227, 137, 255);
    text-decoration: none;
}
.overlay-footer a:hover {
    text-decoration: underline;
    color: rgb(204, 178, 212);
}

/* Overlay side area */
.overlay-aside {
    position: fixed;
    top: 0; 
    width: 0;
    left: 0;
    height: 100%;
    width: 50%;
    transition: width 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: 4rem;
    background-image: var(--overlay-aside-background-image, none);
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    fill:hsla(0, 0%, 100%, 0.55)
}
@media screen and (max-width: 55rem) {
    .overlay-aside {
        background-image: none;
    }
}





